@font-face {
    font-family: 'StalemateFont';
    src: url('Stalemate-Regular.ttf') format('truetype');
}

html {
    background: #404040;
}

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: Trebuchet, sans-serif;
}

.title {
    z-index: 2;
    pointer-events: none;
    color: #404040;
    font-size: 32pt;
    text-align: right;
    text-shadow: 2px 2px 2px #01af40;
    font-family: StalemateFont, sans-serif;
}

.film {
    background-color: #222;
    z-index: 1;
    /* makes the surface invisible to clicks */
    pointer-events: none;
}

.photo-bg {
    background-color: #FFFFF5;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.photo {
    z-index: 2;
    /* makes the surface invisible to clicks */
    pointer-events: none;
}

.photo-text {
    z-index: 2;
    cursor: pointer;
    text-align: right;
}

.article-text {
    z-index: 2;
    cursor: pointer;
    color: #fff;
    border: dotted 1px;
    padding: 3px;
    font-size: 9pt;

}

.footer {
    text-align: center;
    vertical-align: middle;
    font-size: 8pt;
    color: #aaa;
    background-color: #fff;
}

.error-msg {
    text-align: center;
    vertical-align: middle;
    color: #f00;
    border: dotted 1px;
    margin: 50px;
    padding: 20px;
    font-size: 24pt;
    font-family: Trebuchet, sans-serif;
}

.locationPanel {
    background-color: #ccc;
    z-index: 2;
    /* makes the surface invisible to clicks */
    pointer-events: none;
}

.clientPanel {
    background-color: #ccc;
    font-size: 11pt;
    font-weight: bold;
    z-index: 3;
    padding: 3px 6px;
    /* makes the surface invisible to clicks */
    pointer-events: none;
}

.clientREMOVED {
    color: #f00;
}

.clientADDED {
    color: #01af40;
}

.clientPanelSubtext {
    font-size: 8pt;
    padding: 25px 6px;
}

