@(articles: List[Article], clients: List[Client])(implicit request: RequestHeader)

@import helper._

@moreScripts = {

}

@main("Client Manager", moreScripts) {

<header class="top" xmlns="http://www.w3.org/1999/html">

        <h1>Server</h1>
    <h4><a href="@routes.Application.server()">Reload Page.</a> </h4>
 </header>
<section class="center">
    <article class="float-left">

        <h2>Articles</h2>
        <table>
        <th>Name</th><th>Description</th><th>Image</th><th>delete</th>
        @for(article <- articles) {
        <tr>
        <td>@article.name</td><td>@article.descr</td><td><img width="100px" src="/@article.img"></td>
            <td><img src="@routes.Assets.at("icons/delete.png")" href="/client/delete/@article.name"/></td>
        </tr>
        }
        </table>
        <hr>
                <form action="/insertArticle" method="POST">
            <input name="name" type="text" placeholder="enter name of article"/>
                    <input name="descr" type="text" placeholder="enter description"/>
                    <input name="img" type="text" placeholder="enter img URL"/>
                    <input id="putIt" type="submit" value="Add new Article"/>

        </form>
        <hr>
        <p>Example:</p>
        <table>
            <tr>
                <td>Name:</td><td>HP 20-2000ez All-in-One</td>
            </tr>
            <tr>
                <td>Descr:</td><td>RAM 4 GB DDR3 . - Produkttyp All in One . - Festplatte 500 GB</td>
            </tr>
            <tr>
                <td>Img:</td><td>assets/images/article6.jpg</td>
            </tr>
        </table>
    </article>
        <article class="float-left">

        <b>Clients</b>
        <table>
        <th>UUID</th>
        @for(client <- clients) {
        <tr>
        <td>@client.uuid</td>
        </tr>
        }
        </table>
    </article>

</section>

}
